@use "helper" as *;

// Buttons
$button-colors: (
  primary: (
    idle: (
      bg: (
        light: "primary-700",
        dark: "primary-700",
      ),
      fg: (
        light: "neutral-000--light",
        dark: "neutral-000--dark",
      ),
      border: (
        light: "neutral-000--light" 0.12,
        dark: "neutral-000--dark" 0.12,
      ),
    ),
    hover: (
      bg: (
        light: "primary-800",
        dark: "primary-800",
      ),
      fg: (
        light: "neutral-000--light",
        dark: "neutral-000--dark",
      ),
    ),
    disabled: (
      bg: (
        light: "primary-200",
        dark: "primary-300",
      ),
      fg: (
        light: "neutral-400--light",
        dark: "neutral-100--dark",
      ),
    ),
  ),
  secondary: (
    idle: (
      bg: (
        light: "transparent",
        dark: "transparent",
      ),
      fg: (
        light: "neutral-900--light",
        dark: "neutral-000--dark",
      ),
      border: (
        light: "neutral-400--light",
        dark: "neutral-400--dark",
      ),
    ),
    hover: (
      bg: (
        light: "neutral-100--light",
        dark: "neutral-600--dark",
      ),
    ),
  ),
  link: (
    idle: (
      bg: (
        light: "transparent",
        dark: "transparent",
      ),
      fg: (
        light: "neutral-900--light",
        dark: "neutral-000--dark",
      ),
    ),
    hover: (
      fg: (
        light: "primary-700",
        dark: "neutral-100--dark",
      ),
    ),
  ),
);

$button-appearance: (
  padding-inline: (
    default: rem(18px),
  ),
  padding-block: (
    default: rem(12px),
  ),
  border-radius: (
    default: rem(8px),
    link: rem(2px),
  ),
  border-width: (
    primary: rem(2px),
    secondary: rem(1px),
  ),
);
